.video-preview {
  position: relative;
  background: $black no-repeat center center;
  width: 525px;
  height: 295px;
  opacity: 0.9;
  transition: 0.2s opacity;
  box-shadow: 0 2px 2px $faint-black;
  overflow: hidden;
}

.video-preview:hover {
  opacity: 1;
}

.video-preview::after {
  content: '';
  width: 80px;
  height: 80px;
  background: url('img/glyph-play.svg') no-repeat center center;
  display: block;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-left: -25px;
  margin-top: -25px;
  transition: 0.2s opacity;
}

.video-preview:hover::after {
  opacity: 0.8;
}

.video-preview.isPlaying::after {
  display: none;
}

.video-preview-player {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}
